/*import fonts*/
@font-face {
    font-family: "Google Sans";
    src: url("/app/fonts/GoogleSans-Regular.ttf");
    -fx-font-weight: normal;
}

@font-face {
    font-family: "Google Sans";
    src: url("/app/fonts/GoogleSans-Bold.ttf");
    -fx-font-weight: bold;
}
@font-face {
    font-family: "Gelasio";
    src: url("/app/fonts/Gelasio.ttf");
}

/*Apply GSans to whole system*/
.root {
    -fx-font-family: "Google Sans";
}

/* Overwrite AtlantaFx title class with GSans bold to fix font bold */
.title-1,
.title-2,
.title-3,
.title-4 {
    -fx-font-family: "Google Sans";
    -fx-font-weight: bold;
}

/*Special font for header*/
.main-title {
    -fx-font-family:"Gelasio";
    -fx-font-size: 64;

}

